<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../../../static/styles/partials/dashboard/dashboard-cards.css" />
  <link rel="stylesheet" href="../../../static/styles/main.css">
</head>

<body>
  <main>
    <section class="dashboard-cards-section section">
      <div class="dashboard-cards-container container">
        <div class="dashboard-head">
          <div class="dashboard-project" data-i18n="dashboard.projects">Projects</div>
          <div class="dashboard-select">
            <select class="dashboard-custom-select" aria-label="Filter tasks by time period">
              <option value="dashboard-This Day" data-i18n="dashboard.thisDay">This Day</option>
              <option value="dashboard-This Week" data-i18n="dashboard.thisWeek">This Week</option>
              <option value="dashboard-This Month" data-i18n="dashboard.thisMonth">This Month</option>
              <option value="dashboard-This Year" data-i18n="dashboard.thisYear">This Year</option>
            </select>
          </div>
        </div>

        <div class="dashboard-cards-container-list">
          <!-- Card-1 -->
          <div class="dashboard-card card-1">
            <div class="dashboard-card-head">
              <div class="dashboard-card-topic" data-i18n="dashboard.todo">To do</div>
              <div class="dashboard-task-number">0</div>
            </div>
            <div class="dashboard-add-button" role="button" aria-label="Add new To Do task">+</div>
            <div class="dashboard-card-body">
              <div class="dashboard-task task-1">
                <div class="dashboard-task-head">Lorem ipsum dolor sit amet.</div>
                <div class="dashboard-task-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.</div>
              </div>
              <div class="dashboard-task task-2">
                <div class="dashboard-task-head">Lorem ipsum dolor sit amet.</div>
                <div class="dashboard-task-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.</div>
              </div>
            </div>
          </div>

          <!-- Card-2 -->
          <div class="dashboard-card card-2">
            <div class="dashboard-card-head">
              <div class="dashboard-card-topic" data-i18n="dashboard.inProgress">In progress</div>
              <div class="dashboard-task-number">0</div>
            </div>
            <div class="dashboard-add-button" role="button" aria-label="Add new In Progress task">+</div>
            <div class="dashboard-card-body">
              <div class="dashboard-task task-1">
                <div class="dashboard-task-head">Lorem ipsum dolor sit amet.</div>
                <div class="dashboard-task-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.</div>
              </div>
            </div>
          </div>

          <!-- Card-3 -->
          <div class="dashboard-card card-3">
            <div class="dashboard-card-head">
              <div class="dashboard-card-topic" data-i18n="dashboard.completed">Completed</div>
              <div class="task-number">0</div>
            </div>
            <div class="dashboard-add-button" role="button" aria-label="Add new Completed task">+</div>
            <div class="dashboard-card-body">
              <div class="dashboard-task task-1">
                <div class="dashboard-task-head">Lorem ipsum dolor sit amet.</div>
                <div class="dashboard-task-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla pariatur modi quia praesentium molestias ullam.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script src="../../../static/i18n.js"></script>
</body>
</html>